{% extends 'base.html' %}
{% set title = 'Projects' %}
{% block styles %}
<link rel="stylesheet" href="/res/style/projects.css" type="text/css">
{% endblock %}
{% block content %}
<main id="content" style="max-width:1200px;">
	<section>
		<h2>Completed</h2>
		<ul>
			<li>
				<a href="https://github.com/tagviewer/tagviewer">TagViewer</a>: A simple program that allows adding metadata to media and then intelligently sorting and filtering that media.
			</li>
			<li>
				<a href="https://mattfellenz.be/stacksolver">Function Stack Solver</a>: Solves function machine stack problems similar to the one <a href="http://mrsbrickmanglhs.weebly.com/uploads/2/4/8/6/24866232/ch1packetpart1.pdf#page=2">here</a>.
			</li>
		</ul>
	</section>
	<section>
		<h2>In Progress</h2>
		<ul>
			<li>
				<a href="https://github.com/ashishjayamohan/Tread">Tread</a>: A Python data science package for people who just want to get on with life. (Collaborative project—see my commits <a href="https://github.com/ashishjayamohan/Tread/commits?author=mattfbacon">here</a>.)
			</li>
			<li>
				<a href="https://github.com/tagviewer/tagviewer2">TagViewer 2</a>: Rewriting TagViewer in Python with PyGObject.
			</li>
		</ul>
	</section>
	<section>
		<h2>Planned</h2>
		<ul>
			<li>
				MyrtlePortal: An alternative HTTP file server based on NodeJS that supports accounts and permissions.
			</li>
		</ul>
	</section>
</main>
{% endblock %}