{% extends 'base.html' %}
{% set title = 'Projects' %}
{% block styles %}
<link rel="stylesheet" href="/res/style/projects.css" type="text/css">
{% endblock %}
{% block content %}
<main id="content" style="max-width:1200px;">
	<section>
		<h2>Completed</h2>
		<ul>
			<li>
				<a href="https://github.com/tagviewer/tagviewer">TagViewer</a>: A simple program that allows adding metadata to media and then intelligently sorting and filtering that media.
			</li>
			<li>
				<a href="https://mattfellenz.be/stacksolver">Function Stack Solver</a>: Solves function machine stack problems similar to the one <a href="http://mrsbrickmanglhs.weebly.com/uploads/2/4/8/6/24866232/ch1packetpart1.pdf#page=2">here</a>.
			</li>
			<li>
				<a href="https://mattfellenz.be/tetris/">Tetris in Elm</a>: Making Tetris using the Elm framework and SVGs. GitHub Repo: <a href="https://github.com/mattfbacon/elm-tetris">https://github.com/mattfbacon/elm-tetris</a>
		</ul>
	</section>
	<section>
		<h2>In Progress</h2>
		<ul>
			<li>
				<a href="https://github.com/mattfbacon/os">OS</a>: Making a Multiboot-compatible OS in C.
			</li>
		</ul>
	</section>
	<section>
		<h2>Planned</h2>
		<ul>
			<li>
				MyrtlePortal: An alternative HTTP file server based on NodeJS that supports accounts and permissions.
			</li>
			<li>
				COBJ: a C library similar to Cython that maintains dynamic objects based on reference counts. May make a language based on it.
			</li>
			<li>
				(Name TBA): something similar to Elm, but in JS. May make a language based on it.
			</li>
		</ul>
	</section>
</main>
{% endblock %}
